@import 'https://fonts.googleapis.com/css?family=Chelsea+Market|Josefin+Sans|Open+Sans';
@font-face {
    font-family: myFirstFont;
    src: url(elvish-ring-nfi.regular.ttf);
}

html {
  background-color: black
}

svg {
  background-color: skyblue;
  
}

h1{
  color: skyblue;
  font-family: myFirstFont;
}
p{
  color: skyblue;
}
